# Ignore Visual Studio specific files
.vs/
*.vcxproj.user
*.suo

# Build outputs
Debug/
Release/
x64/
x86/
*.o
*.obj
*.pdb
*.ilk
*.exe
*.dll
*.lib

# Temporary files
*.tlog
*.log
*.lastbuildstate
*.cache
ipch/
*.aps
*.pch

# Ignore all dependency directories - note adding new dependencies can be done using git add -f
dependencies/

# Exclude .idb (Intermediate Debug) files
*.idb

# Build Results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
dependencies/bin/imgui

Engine/dependencies/bin/Glad/bin-int/Debug-x86_64-windows/Glad/Glad.log
Engine/dependencies/bin/Glad/bin-int/Debug-x86_64-windows/Glad/glad.obj
Engine/dependencies/bin/Glad/bin/Debug-x86_64-windows/Glad/Glad.lib
Engine/dependencies/bin/Glad/bin/Debug-x86_64-windows/Glad/Glad.pdb
dependencies/bin/imgui
